/* span.mtk16 {
  text-shadow: 0 0 20px #4ec9b0;
} */

/* div.titlebar {
  background-image: url("/Users/yuelin_xin/Downloads/uci.png") !important;
  background-size: 25px 25px !important;
  background-position: 70px 5px !important;
  background-repeat: no-repeat !important;
} */

div.quick-input-widget {
  --vscode-quickInput-background: transparent !important;

  backdrop-filter: blur(30px) brightness(100%);
  border: 1px solid rgb(70, 70, 70) !important;
}

div.monaco-inputbox {
  --vscode-input-background: transparent !important;
}

div.focused {
  --vscode-quickInputList-focusBackground: #04395e80 !important;
}

div.active-line-number {
  --vscode-editorLineNumber-activeForeground: #fff !important;
  text-shadow: 0 0 10px #fff;

}

/* div.sticky-widget {
  --vscode-editorStickyScroll-background: transparent !important;

  backdrop-filter: blur(20px) brightness(110%);
} */


div.monaco-hover {
  --vscode-editorHoverWidget-background: transparent !important;

  backdrop-filter: blur(30px) brightness(100%);
}
